name: build docker image

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
        
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
          
      - name: Run a multi-line script
        run: |
          docker build -t vbnmxcz/hax_extend .
          
      # Runs a set of commands using the runners shell
      - name: Push to Docker Registry
        run: |
          docker push vbnmxcz/hax_extend
